* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #cbcbff;
}

/* .form-container{
  width: 1000;
} */
.title,
.slogan {
    text-align: center;
    margin: 10px;

}

.btn {
    width: 100%;
}

.auth-image {
    width: 100%;
    border-radius: 8px;
}

.alert {
    margin-bottom: 1.5rem;
}

/* App.css */

/* Container holding the sliding content */
.slide-container {
    display: flex;
    transition: transform 0.3s ease-in-out;
}

/* Initial position */
.slide-in {
    transform: translateX(0);
}

/* Position when sliding out (to the left) */
.slide-out {
    transform: translateX(-100%);
}

/* Position when sliding in (from the left) */
.slide-in-from-left {
    transform: translateX(100%);
}